*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

.navbar-container{
    margin: 50px;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list{
    display: flex;
}

.list :first-child{
    color: black;
}

.list-item{
margin-left: 50px;
list-style-type: none;
color: #8f8f8f;
}

.button-group{
  margin-left: auto;
}

.button-group>button{
    background-color: #5955b3;
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 15px;
}

.nav-button{
    font-size: 15px;
    font-family: 'Poppins';
}

.banner-container{
    display: flex;
}

.banner-container>div>img{
    margin-top: 3%;
    margin-left: auto;
}

.banner-container{
    margin-left: 55px;
}

.heading-text{
    margin-top: 20%;
    font-size: 70px;
    color: #3c2f60;
}

.heading-text>span{
    color: #5955b3;
}

.description{
    margin-top: 5%;
    color: #8f8f8f;
    text-align: start;
    width: 80%;
}

.banner-container button{
    background-color: #5955b3;
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 15px;
    margin-top: 10%;
}

.nav-button{
    font-size: 15px;
    font-family: 'Poppins';
}

