*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

.navbar-container svg{
    display: none;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 50px;
}

.list{
    display: flex;
}

.list :first-child{
    color: black;
}

.list-item{
margin-left: 50px;
list-style-type: none;
color: #8f8f8f;
}

.button-group{
  margin-left: auto;
}

.button-group>button{
    background-color: #5955b3;
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 15px;
}

.nav-button{
    font-size: 15px;
    font-family: 'Poppins';
}

.banner-container{
    display: flex;
}

.banner-container>div>img{
    margin-top: 3%;
    margin-left: auto;
    
}

.banner-container{
    margin-left: 55px;
}

.heading-text{
    margin-top: 20%;
    font-size: 70px;
    color: #3c2f60;
}

.heading-text>span{
    color: #5955b3;
}

.description{
    margin-top: 5%;
    color: #8f8f8f;
    text-align: start;
    width: 80%;
}

.banner-container button{
    background-color: #5955b3;
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 15px;
    margin-top: 10%;
}

.nav-button{
    font-size: 15px;
    font-family: 'Poppins';
}

@media screen and (max-width : 950px){
    .grow-list{
        display: none;
    }

    .button-group{
        display: none;
    }

    .navbar-container img{
        width: 100px;
    }
    .navbar-container{
        margin: 25px;
    }

    .navbar-container svg{
        display: block;
        margin-left: auto;
    }

    .banner-container{
        flex-direction: column;
        margin-left: 0px;
    }

    .banner-container img{
        width: 100%;
        margin-top: 5%;
    }

    .heading-text{
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
        margin: 0px 10px;
    }

    .description {
        text-align: center;
        width: 100%;
    }

    .banner-container button{
        padding: 15px 15px;
        border-radius: 10px;
        margin-top: 10%;
        margin-left: 30%;
    }    

}

